#nav-margin {
  display: flex;
  height: 10vh;
  width: 100vw;
  z-index: 100;
  background-color: rgb(78, 0, 109);
  color: #FFF;
  top: 0;
  position: fixed;
  padding: 1em;
}

#nav-title {
  justify-self: flex-start;
  align-self: center;
}

#nav-user {
  justify-self: flex-end;
  align-self: center;
}
