#nav-margin {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  z-index: 100;
  background-color: rgb(78, 0, 109);
  color: #FFF;
  top: 0;
  position: fixed;
  padding: 1em;
}

#nav-title {
  align-self: center;
}

#nav-user {
  align-self: center;
}
